
### folders
node_modules
scripts
test
.idea
.vscode
src
.r2g
.circleci
.github

### files
.dockerignore
.editorconfig
.gitattributes
.gitignore
.npmignore
.travis.yml
.nlu.json
.npp.json

### matching
Dockerfile*
*.log
*.md
tsconfig*.json
*.DS_Store
*.tgz

